<div class="header">
    <div class="avatar"></div>
    <a routerLink='' routerLinkActive='active' class="link" #link1>HOME</a>
    <a routerLink='/profile' routerLinkActive='active' class="link" #link2>PROFILE</a>
    <a routerLink='/courses' routerLinkActive='active' class="link" #link3>COURSES</a>
    <a routerLink='/forms' routerLinkActive='active' class="link" #link4>FORMS-REG</a>
    <a routerLink='/baseData' routerLinkActive='active' class="link" #link5>DATA BASE</a>
    <a routerLink='/logIn' routerLinkActive='active' class="link" id='login' #link6>LOGIN</a>
    <a href="http://www.fb.com" target="_blank" class='fb'><img src="assets/img/fb.png"/></a>
</div>
