<h2>List of Countries</h2>

<p>
	<button class="btn btn-primary" (click)="createCountry()">Create</button>
	<button class="btn btn-default" (click)="refresh()">Refresh</button>
</p>
<div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>
<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Capital</th>
		<th></th>
	</tr>
	<tr *ngFor="let country of countries">
		<td>
			{{country.name}}
		</td>
		<td>
			{{country.capital}}
		</td>
		<td>
			<button class="btn btn-default" (click)="editCountry(country)">Edit</button>
			<button class="btn btn-default" (click)="deleteCountry(country)">Delete</button>
		</td>
	</tr>
</table>
